<div class="row mb-4">
    <h2 class="col-10">Categories</h2>
    <a href="/admin/categories/new" class="col-2 d-flex justify-content-end">
        <button class="btn btn-dark btn-lg d-flex align-items-center">
            <img src="/svg/plus-ico.svg" alt="add category" class="ico">
            <span>New</span>
        </button>
    </a>
</div>

{{#each categories}}
    <div class="card mb-3">
        <div class="card-body">
            <div class="card-text">
                <h5 class="card-title">{{name}}</h5>
                <p>{{url}}</p>
                <div class="row">
                    <p class="formatDate col-8">{{date}}</p>
                    <div class="d-flex justify-content-end col-4">
                        <a href="/admin/categories/edit/{{_id}}" class="action">
                            <button class="btn btn-dark">
                                <img src="/svg/pencil-ico.svg" alt="edit">
                            </button>
                        </a>
                        <a href="/admin/categories/delete/{{_id}}" class="action">
                            <button class="btn btn-dark">
                                <img src="/svg/trash-ico.svg" alt="delete">
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{else}}
    <div class="card">
        <p class="card-body">No category registered</p>
    </div>
{{/each}}
