<div class="row mb-4">
    <h2 class="col-10">Posts</h2>
    <a href="/admin/posts/new" class="col-2 d-flex justify-content-end">
        <button class="btn btn-dark btn-lg d-flex align-items-center">
            <img src="/svg/plus-ico.svg" alt="add category" class="ico">
            <span>New</span>
        </button>
    </a>
</div>

{{#each posts}}
    <div class="card mb-3">
        <div class="card-body">
            <div class="card-text">
                <h5 class="card-title">{{title}}</h5>
                <p>{{description}}</p>
                <p class="col-8">{{formatDate date}}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <span class="badge bg-dark">{{category.name}}</span>
                    <div class="d-flex justify-content-end">
                        <a href="/admin/posts/edit/{{_id}}" class="action">
                            <button class="btn btn-dark">
                                <img src="/svg/pencil-ico.svg" alt="edit">
                            </button>
                        </a>
                        <a href="/admin/post/delete/{{_id}}" class="action">
                            <button class="btn btn-dark">
                                <img src="/svg/trash-ico.svg" alt="delete">
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{else}}
    <div class="card">
        <p class="card-body">No post registered</p>
    </div>
{{/each}}
