{{#each posts}}
  <div class="bg-light p-5 rounded-lg m-3">
    <h2>{{title}}</h2>
    <p>
      {{formatDate date}} in 
      <a href="/category/{{category.url}}" class="text-danger">{{category.name}}</a>
    </p>
    <hr class="my-4">
    <p class="lead">{{description}}</p>
    <a class="btn btn-danger btn-lg" href="/post/{{url}}" role="button">Learn more</a>
  </div>
{{/each}}
